@import url(https://fonts.googleapis.com/css?family=Ropa+Sans);
/* EBOOK */

#ebookSec {
	font-family: Ropa Sans;
  	position: absolute;
  	top: 170px;
  	right: 70px;
  	padding: 10px;
  	text-align: center;
}

#ebookOverlay {
	font-family: Ropa Sans;
	display: none;
	position: fixed;
	padding: 160px 400px;
	left: 0%;
	top: -40px;
	width: 100%;
	height: 120%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
}

#ebookOverlay form {
	left: 45%;
	top: -20%;
	background-color: rgb(232, 232, 232);
	padding: 10px;
}

#ebookOverlay p {
	padding-top: 10px;
}

#ebookOverlay input {
	margin: 0px 10px;
	border-radius: 5px;
	border-style: solid;
	width: 75px;
}

#email input{
	width: 300px;
}

#ebookOverlay h2 {
	color: rgb(232, 232, 232);
}
 
#ebookSec img {
    height: 70px;
    width: 80px;
   	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.5); 
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

/* END EBOOK */

/*SEARCHBAR*/

.bg-search {
	padding: 170px 150px;
	background-image: url(../img/bgSearch.png);
	background-size: cover;
	background-attachment: fixed;
}

.search {
	display: block;
	height: auto;
	list-style-type: none;
}


#filter {
	background-color: white;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: rgb(145, 145, 145);
	padding-bottom: 100px;
}

@media only screen and (max-width: 760px) {
	#filter{padding-bottom: 180px;}
}



.search input{outline: none;}

.search input {
	margin-top: 10px;
	padding-top: 5px;
	display: inline-block;
	height: 40px;
	width: 100%;
	border-style: none;
}

#search {
	padding: 5px;
	padding-left: 0px;
	border-radius: 5px;
	background-color: white;
}

#search input:first-of-type {
	border-right-style: ridge;
}

.btn-default {
	background: rgb(13, 53, 50);
	color: white;
}

#house_type {
	color: black;
}

#house_type select {
	margin-top: 30px;
}

#loc {
	color: black;
}

#loc select {
	margin-top: 30px;
}

#loc option:first-of-type{
	color: rgb(145, 145, 145);
}

#loc option {
	color: black;
}

#kamer option:first-of-type{
	color: rgb(145, 145, 145);
}

#kamer option{
	color: black;
}

#attribute {
	color: black;
	height: 15px;
	text-align: center;
	right: auto;
	left: auto;
}

#attribute label {
	display: block;
	padding-left: 15px;
	font-weight: normal;
	text-align: left;
}

#attribute input {
	position: relative;
	top: -1px;
	width: 13px;
	height: 13px;
	margin-right: 10px;
}


/*END SEARCHBAR*/

/* EBOOK */